
/*Global View aka Desktop View*/
body{
    background-color: #EBEBEB;
}

h1{
    font-size: 3rem;
}

.container{
    min-height: 500px;
    max-width: 1024px;
    margin: 0 auto;

    /*Necessari per il responsive*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-top: 140px;
}

.header-container{
    background-color: rgb(75, 75, 75);
    min-height: 100px;
    margin-bottom: 40px;
    width: 100%;

    /*Fissa l'header in alto anche se si scorre*/
    position: fixed;
}

header{
    max-width: 1024px;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /*centrare gli elementi di un div*/
    margin: 0 auto 0 auto;
}

nav{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbutton{
    text-decoration: none;
    padding: 10px 25px;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.205);
    border: 0.5px solid white;
    margin-left: 20px;
}

a{
    text-decoration: none;
    color: white;
}

.navbutton:hover{
    color: black;
    background-color: white; 
}



.logo-desktop{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 30px;
}

.logo-mobile{
    display: none;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 30px;
}

/*Rende bold una parte di testo grazie a "span"*/
.bold-font{
    font-weight: bold;
}



.col{
    background-color: rgb(45, 200, 141);
    width: 30%;
    margin-bottom: 40px;
}

.col p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    padding: 20px 40px;
    align-items: center;
    font-size: 0.9rem;

    /*Spaziatura tra le righe*/
    line-height: 1.2rem;
}

.col p::first-line{
    font-weight: bold;
}

.hide-desktop{
    display: none;
}


.col img{
    width: 100%;
    height: auto;
}

.mob-wrapper{
    display: none;
}



/*Tablet View*/
@media (max-width: 768px){

    .col{
        width: 45%;
    }

    .hide-desktop{
        display: block;
    }

    .header-container{
        position: relative;
    }

    nav a{
        display: block;
    }

    nav{
        display: none;
    }

    .navbutton{
        margin-left: 0px;
    }

    .container{
        padding-top: 10px;
    }

    /*Permette di attivare il toggle*/
    .mob-wrapper{
        display: block;
        padding-right: 30px;
        
    }

    .mobile-nav{
        display: none;
        position: absolute;
        margin-left: -103px;
        padding-top: 10px;
    }

    .mob-navbutton{
        display: block;
        background-color: white;
        padding: 15px 30px;
        color: black;
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
   
   

}

/*Mobile View*/
@media (max-width: 400px){
   
    .col{
        width: 100%;
    }

    .hide-mobile{
        display: none;
    }

    .logo-desktop{
        display: none;
    }

    .logo-mobile{
        display: block;
    }

    .logo-mobile p{
        line-height: 1.5rem;
    }

}




